body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #faefd2;
    margin: 0;
    font-size: medium;

}

header {
    text-align: center;
    color: #03071a;
    font-size: large;
    margin: auto;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

h1 {
    font-size: large;
    color:#03071a;
    margin: 0;
}


section > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px));
    gap: 20px;
    margin: auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*figure {

}*/

figure img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #fad2d2;
    padding: 15px;
    border-radius: 10px;
    margin: auto
}

footer ul {
    padding: 0
}

footer li {
    list-style: disc;
    text-align: left;
    display: inline-block;
    margin: auto
}
